{{>layout/header}}

        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > Adapter 관리 > Adapter 운영</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="cont_title_box">
                    <h3>Adapter 상세</h3>
                    <div class="right_btns"><a class="btn btn-success" href="javascript:listPage();">목록 </a></div>
                  </div>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">Adapter 명</div>
                        <div class="form-control_box"><span id="adapter_nm"></span></div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">사용 여부</div>
                        <div class="form-control_box"><span id="use_yn"></span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">시작 / 종료</div>
                        <div class="form-control_box"><span id="start_end"></span></div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">상태</div>
                        <div class="form-control_box"><span id="status"></span></div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="cont_title_box">
                    <h3>Instance 상세 목록</h3>
                  </div>
                                    
                  <div class="table_responsive">
                    <!-- div class="talbel_total">총 <span id="total_count"></span>1건</div-->
                    <table class="table table-striped">
                      <colgroup> 
                        <col width="5px">                      
                        <col width="15px">                      
                        <col width="10px">                      
                        <col width="10px">                      
                        <col width="12px">                      
                        <col width="18px">                      
                        <col width="10px">                      
                        <col width="10px">                      
                        <col width="10px">                      
                      </colgroup>
                      <thead>
                        <tr> 
                          <th style="text-align: center;">순번</th>
                          <th style="text-align: center;">Instance 명</th>
                          <th style="text-align: center;">시작 / 종료</th>
                          <th style="text-align: center;">상태</th>
                          <th style="text-align: center;">수집 스케줄 유형</th>
                          <th style="text-align: center;">수집 스케줄 설정</th>
                          <th style="text-align: center;">수집건수</th>
                          <th style="text-align: center;">적재건수</th>
                          <th style="text-align: center;">실패건수</th>
                        </tr>
                      </thead>
                      <tbody id="dpIngestAdapterIt">
                      </tbody>
                    </table>
                    <div class="nav justify-content-center"> 
					  <ul id="pagingul" class="pagination">
					  </ul>                    
                    </div>   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
{{>layout/footer}}        

<script>
document.title = 'LX DMS | Adapter 운영';
const commonUrl = '/common';
const url = '/adaptor';

let init_page = 1;				//초기 페이지
let page = 1;					//페이지
let init_size_per_page = 10;	//초기 개수
let size_per_page = 10;	 		//가져올 개수
let pageCount = 10;		 		//페이징에 나타낼 페이지 수

//목록
const listPage = function(){
	location.href = url+'/config';
}
</script>

