{{>layout/header}}

		<div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > Adapotr 관리 > 전처리 목록</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                
                  <form class="form-horizontal form-label-left">
                    <div class="cont_title_box"> 
                      <h3>전처리 등록</h3>
                      <div class="right_btns"> 
                        <a class="btn btn-success" href="javascript:listPage();">목록</a>
                        <button class="btn btn-primary">저장</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <label class="control-label">전처리 명</label>
                        <div class="form-control_box">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                      </div>
                    </div>
                    <div class="row"> 
                      <div class="form-group row col-12 col-md-6">
                        <label class="control-label">속성유형</label>
                        <div class="form-control_box">
                          <select class="form-control">
                            <option>Choose option</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">자리수</div>
                        <div class="form-control_box">
                          <input class="form-control" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                      </div>
                    </div>
                    <div class="row"> 
                      <div class="form-group row col-12 col-md-6">
                        <label class="control-label">변경유형</label>
                        <div class="form-control_box">
                          <select class="form-control">
                            <option>Choose option</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6 type2" style="display: none">
                        <label class="control-label">변경모양</label>
                        <div class="form-control_box">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row type2" style="display: none"> 
                      <div class="form-group row col-12 col-md-6">
                        <label class="control-label">시작 자리수</label>
                        <div class="form-control_box">
                          <input class="form-control" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <label class="control-label">끝 자리수</label>
                        <div class="form-control_box">
                          <input class="form-control" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                      </div>
                    </div>
                    <div class="row"> 
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">전처리 전</div>
                        <div class="form-control_box repeat_box">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <label class="control-label">전처리 후</label>
                        <div class="form-control_box">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{{>layout/footer}}

<script>
document.title = 'LX DMS | 전처리 리스트';
const commonUrl = '/common';
const url = '/adaptor';

//목록 페이지
const listPage = function(){
	location.href = url+'/preProcessList';
}

</script>

